{% extends 'blog/base.html' %}
{% block content %}
<h2>ブログ一覧</h2>
{% if blog_list %}
<div class="list-group">
{% for blog in blog_list %}
    <div class="list-group-item d-flex justify-content-between">
        {% comment %} <a href="{{ blog.get_absolute_url }}">{{ blog.name }}</a> ({{ blog.author }} - {{ blog.post_date|date:"Y年n月j日" }}) {% endcomment %}
        <a href="{{ blog.get_absolute_url }}">{{ blog.name }}</a>
        <span>{{ blog.author }} - {{ blog.post_date|date:"Y年n月j日" }}</span>
    </div>
{% endfor %}
</div>
{% else %}
<p>There are no blogs.</p>
{% endif %}

{% endblock %}